html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}
#content {
  width: 320px;
  font-family: Georgia, sans-serif;
  text-align: center;
}
#content b {
  font-size: 30px;
  font-family: sans-serif;
}
#content p {
  margin: 0, auto;
}
#tapImage {
  text-align: left;
}
