html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}
.content {
  width: 320px;
  font-family: Georgia, sans-serif;
  text-align: center;
  padding-left: 10px;
  padding-right: 30px;
}
.content h1 {
  font-family: "Arial Black", "Gadget", sans-serif;
  font-size: 20px;
  border-bottom-style: groove;
  border-bottom-color: DarkSlateBlue;
  padding-bottom: 5px;
}
